In [3]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [112]:
df = pd.read_csv('data/seuk_scores.csv', sep = ';', parse_dates=['Date'])

C:\Users\szymo\AppData\Local\Temp\ipykernel_25948\1770188269.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df = pd.read_csv('data/seuk_scores.csv', sep = ';', parse_dates=['Date'])

In [113]:
def count(lst):
    return sum(bool(x) for x in lst)

In [114]:
def played(df, name):
    
    '''Calculating all matches played by played'''
    
    played = df.applymap(lambda x: name.lower() in str(x).lower()).any(1).sum()
    
    return played

In [116]:
all_players  = np.unique(df[['Attack_1', 'Defense_1','Attack_2' ,'Defense_2' ]].values)

In [117]:
all_players

array(['Dawid', 'Eryk', 'Krzysiu', 'Kuba', 'Szymon', 'Wojtek'],
      dtype=object)

In [119]:
for player in all_players:
    print(f'{player}:', played(df, player))

Dawid: 10
Eryk: 2
Krzysiu: 8
Kuba: 4
Szymon: 12
Wojtek: 12

C:\Users\szymo\AppData\Local\Temp\ipykernel_25948\4239298943.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  played = df.applymap(lambda x: name.lower() in str(x).lower()).any(1).sum()

In [93]:
df.head(13)

   Attack_1 Defense_1 Attack_2 Defense_2  G1  G2  Win
0    Szymon     Dawid     Eryk    Wojtek   8   5    1
1     Dawid    Szymon   Wojtek      Eryk   7   8    2
2    Szymon   Krzysiu     Kuba    Wojtek   8   3    1
3   Krzysiu    Szymon   Wojtek      Kuba   7   8    2
4    Szymon    Wojtek    Dawid   Krzysiu   8   5    1
5    Wojtek    Szymon  Krzysiu     Dawid   8   3    1
6   Krzysiu    Wojtek   Szymon     Dawid   4   8    2
7    Wojtek   Krzysiu    Dawid    Szymon   2   8    2
8    Szymon      Kuba    Dawid    Wojtek   8   1    1
9      Kuba    Szymon   Wojtek     Dawid   5   8    2
10   Szymon   Krzysiu    Dawid    Wojtek   8   6    1
11  Krzysiu    Szymon   Wojtek      Dawd   8   7    1

In [94]:
# df = df.drop('Date')
# df.applymap(lambda x: 'Szymon'.lower() in str(x).lower()).any(1).sum()

# index1 = pd.MultiIndex.from_arrays([df[col] for col in ['Attack_1', 'Defense_1']])
# index2 = pd.MultiIndex.from_arrays([df[col] for col in ['Attack_2', 'Defense_2']])

AttributeError: 'str' object has no attribute 'isin'

In [54]:
matches_played = played.sum(axis=0)
matches_played

8