In [9]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import streamlit as st
from PIL import Image

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

pd.options.mode.chained_assignment = None

import warnings

import sys
sys.path.append('../')

from stats import win_rate, count, played, goals_scored_total, goals_scored_avg, goals_lost_total, goals_lost_avg, winrate_w_partner

In [3]:
df = pd.read_excel('../data/seuk_04.xlsx')

In [10]:
df = df.drop('Date', axis = 1)

In [5]:
pd.unique(df[['Attack_1', 'Defence_1', 'Attack_2', 'Defence_2']].values.ravel('K'))

array(['Szymon', 'Dawid', 'Krzysiu', 'Wojtek', 'Kuba', 'Eryk'],
      dtype=object)

In [13]:
df['score'] = df['G1'] - df['G2']

    Attack_1 Defence_1 Attack_2 Defence_2  G1  G2  Win  score
0     Szymon     Dawid     Eryk    Wojtek   8   5    1      3
1      Dawid    Szymon   Wojtek      Eryk   7   8    2     -1
2     Szymon   Krzysiu     Kuba    Wojtek   8   3    1      5
3    Krzysiu    Szymon   Wojtek      Kuba   7   8    2     -1
4     Szymon    Wojtek    Dawid   Krzysiu   8   5    1      3
..       ...       ...      ...       ...  ..  ..  ...    ...
164  Krzysiu      Kuba   Szymon    Wojtek   3   8    2     -5
165     Kuba    Wojtek   Szymon   Krzysiu   6   8    2     -2
166   Szymon    Wojtek     Kuba   Krzysiu   8   3    1      5
167  Krzysiu    Wojtek   Szymon      Kuba   3   8    2     -5
168   Wojtek      Kuba  Krzysiu    Szymon   5   8    2     -3

[169 rows x 8 columns]

In [22]:
X = df[['Attack_1', 'Defence_1', 'Attack_2', 'Defence_2']]
Y = df['score']

In [37]:
ohe = OneHotEncoder()
X_one_hot = ohe.fit_transform(X)
columns_names = ohe.get_feature_names_out(['Attack_1', 'Defence_1', 'Attack_2', 'Defence_2'])
one_hot_encoded_frame = pd.DataFrame.sparse.from_spmatrix(X_one_hot, columns=columns_names)

In [38]:
one_hot_encoded_frame

,Attack_1_Dawid,Attack_1_Eryk,Attack_1_Krzysiu,Attack_1_Kuba,Attack_1_Szymon,Attack_1_Wojtek,Defence_1_Dawid,Defence_1_Eryk,Defence_1_Krzysiu,Defence_1_Kuba,...,Attack_2_Krzysiu,Attack_2_Kuba,Attack_2_Szymon,Attack_2_Wojtek,Defence_2_Dawid,Defence_2_Eryk,Defence_2_Krzysiu,Defence_2_Kuba,Defence_2_Szymon,Defence_2_Wojtek
0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
165,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
166,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
167,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
168,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [36]:
columns_names

array(['Attack_1_Dawid', 'Attack_1_Eryk', 'Attack_1_Krzysiu',
       'Attack_1_Kuba', 'Attack_1_Szymon', 'Attack_1_Wojtek',
       'Defence_1_Dawid', 'Defence_1_Eryk', 'Defence_1_Krzysiu',
       'Defence_1_Kuba', 'Defence_1_Szymon', 'Defence_1_Wojtek',
       'Attack_2_Dawid', 'Attack_2_Eryk', 'Attack_2_Krzysiu',
       'Attack_2_Kuba', 'Attack_2_Szymon', 'Attack_2_Wojtek',
       'Defence_2_Dawid', 'Defence_2_Eryk', 'Defence_2_Krzysiu',
       'Defence_2_Kuba', 'Defence_2_Szymon', 'Defence_2_Wojtek'],
      dtype=object)

In [ ]:
one_hot_encoded_frame = pd.DataFrame.sparse.from_spmatrix(X_one_hot, columns=columns_names)